.title_and_line {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.compTitle h1 {
  font-size: 40px;
  margin: 0px;
  color: #354F52;
  /* font-weight: bolder; */
}

.line1 {
  width: 80%;
}
.line1 hr {
  height: 2px;
  border-radius: 5px;
  background-color: #84A98C;
}

.aboutMeDiv {
}

.belowHeading {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  background-color: #FFFFFF;
  border: 1pt solid #84A98C;
  box-shadow: 5px 10px 18px #888888;
  border-radius: 5px;

  width: 100%;
  margin: 0px;
}

.leftSide {
  width: 50%;
  padding: 20px;
  color: #52796F;
}

.leftSide li {
  color: #84A98C;
  /* font-weight: bold; */
}


.paragraphs p {
  color: #52796F;
  /* font-weight: bold; */
  padding: 0px 10px 0px 10px;
}
.paragraphs a {
  color: #84A98C;
  /* margin: 0 5px 0 0; */
  text-decoration: none;
}


.ulListsDiv {
  width: 100%;
  display: flex;
  /* flex-direction: row;
  justify-content: space-between; */
  /* width: fit-content; */
  border: 1px solid black;
  height: 100px;
}
.ulListsDiv ul {
  /* width: fit-content; */
  padding: 0 0 0 20px;
  /* height: 100px; */

  /* padding: 0;
  margin: 0;
  list-style: none;
  border: 1px solid silver; */
  /* -ms-box-orient: horizontal; */
  /* display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

}
.ulListsDiv li {
  padding-bottom: 10px;
  list-style-type: none;
  font-size: 19px;

  /* display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: space-around; */
}

.rightSide {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.rightSideImgDiv {
  /* width: 284px; */
  height: 335px;
  padding: 10px;
  border: 1px solid #BFBFBF;
  background-color: white;
  box-shadow: 10px 10px 5px #aaaaaa;

  float: left;
  -ms-transform: rotate(-8deg); /* IE 9 */
  -webkit-transform: rotate(-8deg); /* Safari */
  transform: rotate(-8deg);
}

.rightSideImgDiv img {
  width: 260px;
  /* height: 300px; */
  text-align: center;
  border: 2px solid #84A98C;
}
