.quote {
  display: flex;
  justify-content: center;
}
.quote p {
  /* background-color: #52796F; */
  padding: 50px;
  width: 43%;
  height: fit-content;
  font-family: cursive;
  font-size: 22px;
  font-stretch: extra-expanded;
  /* margin-bottom: 90px; */

  /* padding-left: 20px; */
  border: 1pt solid #84A98C;
  box-shadow: 5px 10px 18px #888888;
  border-radius: 50%;

  background-color: #FFFFFF;
  /* padding: 30px; */
  margin: 10px 10px 40px 10px;
  /* margin-bottom: 40px; */
  /* width: fit-content; */
  text-align: center;
}

span.contactMe {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* width: fit-content; */
  background-color: #354F52;
  border: 2px solid #52796F;
  /* font-weight: bold; */
  font-size: 20px;
  color: white;
}


.contactMe a {
  height: 75px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}
.contactMe p{
  display: flex;
  align-items: center;
  margin: 0px;
}
.contactMe img {
  padding-right: 10px;
}

.contactMe img {
  height: 50px;
}


.line1 {
}
.line1 hr {
}
