.Home_and_ArrowUp_Div {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  margin: 30px 150px 60px 150px;
}

.ArrowUp_Div_Div {
  display: flex;
  align-items: center;
}

.ArrowUp_Div {
  display: flex;
  position: fixed;
  bottom: 70px;
  right: 55px;
}

.homeDiv {
  background-color: #f7faf8;
  color: white;
  border-radius: 5px;
}

.smallIntro_background_image {
  margin:50px -150px 0px -150px;
  padding: 0 0 0 0;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

#smallIntro_AnchorTag {
  background-color: black;
  margin: -30px 0 -150px 0;
  position: relative;
  z-index: -1;
}
#smallIntro {
  padding: 100px 0 0 0;
  margin-top: 0px;
}

#aboutMe_AnchorTag {
  background-color: blue;
  height: 40px;
  padding-top: 10px;
  margin: -100px 0 0 0;
  position: relative;
  z-index: -1;
}
#aboutMe {
  padding-top: 0px;
}
#myProjects {
}
#myOtherProjects {
}
#contactMe {
  padding-bottom: 50px;
  margin-bottom: 0px;
}
.homeComponent {
  padding: 120px 0 50px 0;
  margin: 0px 0 0px 0;
}
