/* import dashingVideo from '../assets/ezgif.com-video-cutter.mov' */

/* See AboutMe.js */
.title_and_line {
}
.compTitle {
}
.line1 {
}
.line1 hr {
}

.projectDiv {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-bottom: 50px;

}
.projectLeftDiv {
  width: 100%;
  /* z-index: 1; */

}
.projectLeftDiv img {
  width: 100%;
  transition: width 1s;
  /* z-index: 1; */
  left: 0px;
}
.projectLeftDiv img:hover {
  width: 120%;
}

.projectRightDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* z-index: 1; */
}

.projectTitle a {
  color: #2F3E46;
  font-size: 32px;

}

.projectDescription {
  display: flex;
  flex-direction: column;
  background-color: #67630C;
  padding-left: 20px;
  padding: 15px;
  margin-bottom: 5px;

  border: 2px solid #84A98C;
  background-color: #354F52;
  color: #CAD2C5;
  font-weight: 500;
  font-stretch: extra-expanded;
}
.projectDescription p {
  display: flex;
  text-align: left;
  justify-content: flex-start;
  margin: 5px;
}

.projectLanguages ul {
  display: flex;
  flex-direction: row;
  color: #354F52;
  font-weight: 500;
}

.projectLanguages li {
  list-style-type: none;
  padding-left: 30px;
}

.projectIcons img {
  height: 40px;
  padding-left: 10px;
  margin-left: 10px;
  border-radius: 50%;
  background-color: #354F52;

}
