/* import dashingVideo from '../assets/ezgif.com-video-cutter.mov' */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);


/* See AboutMe.js */
.title_and_line {
}
.compTitle {
}
.line1 {
}
.line1 hr {
}

.below_myprojects_heading {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 10%;

}

.my_projects_div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* margin: 0 10% 0px 10%; */
}

.projectBorderDiv {
  /* padding: 20px;
  margin-bottom: 50px;
  border: 1pt solid #84A98C;
  box-shadow: 5px 10px 18px #888888;
  border-radius: 5px;
  background-color: #FFFFFF; */
}

.projectBorderDiv {
  width: 40%;
  min-width: 300px;
  margin-bottom: 50px;
  /* margin: 0 10% 50px 10%; */

  /* margin: 0 0 30px 0; */
  /* margin: 0 10% 50px 10%; */

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  padding: ;
  border: 1pt solid #84A98C;
  box-shadow: 5px 10px 18px #888888;
  border-radius: 5px;
  background-color: #FFFFFF;
}
.projectLeftDiv {
  width: inherit;
}
.projectLeftDiv img {
  width: 100%;
  /* width: 100%;
  transition: width 1s;
  left: 0px; */
}
/* .projectLeftDiv img:hover { */
  /* width: 120%; */
/* } */

.projectRightDiv {
  /* margin: 0 10px 0 10px; */
  margin: 0 0 0 0;
  /* width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end; */
}

.projectTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(-45deg, #84A98C 0%, #bed1c2 35%, #84A98C 100%);

  width: 100%;

}

.projectTitle h2 {
  font-size: 26px;
  margin: 0;
  padding: 15px 20px 15px 20px;
  /* font-weight: ; */
}

/* .projectTitle button.btn .btn-primary { */
  /* background: linear-gradient(-45deg, #84A98C 0%, #bed1c2 35%, #84A98C 100%); */
  /* background-color: none; */
  /* border-color: none; */
  /* padding: 0; */

/* } */

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    /* padding: .375rem .75rem; */
    padding: 0;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

    height: fit-content;
}

button.btn.btn-primary {
    color: none;
    /* background-color: none; */
    border-color: none;
    /* background: linear-gradient(-45deg, #84A98C 0%, #bed1c2 35%, #84A98C 100%); */
    background: none;
    padding: 0 20px 10px 0;
    margin: -10px 0 0 0;
    display: flex;
    align-items: center;
    font-size: 35px;
    /* height: 20px; */
}
button.btn.btn-primary:hover {
    color: #fff;
    background-color: none;
    border-color: #84A98C;
    /* background: linear-gradient(-45deg, #84A98C 0%, #bed1c2 35%, #84A98C 100%); */

}

.toggle_all_descriptions_div {
  display: flex;
  justify-content: flex-end;
  margin-right: 10%;
  margin-bottom: 20px;
  /* height: fit-content; */

}
#toggle_all_descriptions {
  display: flex;
  justify-content: center;
  background: linear-gradient(-45deg, #84A98C 0%, #bed1c2 35%, #84A98C 100%);
  font-size: 16px;
  width: fit-content;
  height: 100%;
  padding: 5px 10px 5px 10px;

}


.projectTitle a {
  /* color: #52796F;
  font-size: 32px; */
}

.projectDescription {
  line-height: normal;
  /* display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding: 15px;
  margin-bottom: 5px;

  border: 2px solid #84A98C;
  color: #CAD2C5;
  font-stretch: extra-expanded;
  background: linear-gradient(-45deg, #84A98C 0%, #bed1c2 25%, #84A98C 50%, #bed1c2 85%, #84A98C 100%); */

}
.projectDescription p {
  /* display: flex;
  text-align: left;
  justify-content: flex-start;
  margin: 5px;
  color: #354F52; */
}

.projectLanguages ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  /* color: #84A98C; */
  font-size: 16px;
  padding: 10px 20px 10px 10px;
  margin: 0;

  /* display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  width: 90%;
  padding: 10px 10px 10px 20px; */
}

.projectLanguages li {
  list-style-type: none;
  padding-left: 10px;
  /* list-style-type: none;
  padding-left: 30px; */
}

.projectIcons {
  display: flex;
  justify-content: flex-end;

}

.projectIcons img {
  width: 30px;
  background: linear-gradient(-45deg, #52796F 0%, #bed1c2 90%, #52796F 100%);
  margin-left: 5px;
  border-radius: 50%;
  padding: 2px;
  /* height: 40px;
  padding: 0 5px 10px 0;
  margin-right: 10px;
  border-radius: 50%;
  */
}
