.smallIntro {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 20vh 0 5px 0px;
  /* margin-top: -15vh; */
  /* border: 1pt solid #84A98C; */
  /* box-shadow: 5px 10px 18px #888888; */

  /* background-color: rgba(255, 255, 255, 0.75); */
  /* font-size-adjust: auto; */
  /* align-self: center; */

  /* margin: 0 0 100px 0; */
  /* margin-top: 400px; */
}

/* .greetingHi p {
  font-stretch: expanded;
  color: #52796F;
} */

.smallIntro_text {
  margin-top: -8vh;
  background-color: rgba(255, 255, 255, 0.7);
  width: fit-content;
  padding: 10px 15px 0 20px;
  border-radius: 5px;
  /* background-color: #ffffff; */

}

.name h1 {
  /* font-size: max(8vw, 60px); */
  font-size: 9vh;
  color: #52796F;
  margin-bottom: 0px;
}

.career h1 {
  font-size: 6vh;
  color: #84A98C;
  margin-top: 0px;
}

.shortTalk p {
  /* width: 600px; */
  width: inherit;
  margin: 5vh 0 15px 0;
  color: #52796F;
  font-stretch: semi-expanded;
  font-size: 4vh;
  min-width: 12px;
}
