.smallIntro_background_image {
  margin: -40px -150px -120px -150px;
  padding: 100px 0 100px 0;
}

.smallIntroDiv {
  padding-left: 20px;
  border: 1pt solid #84A98C;
  box-shadow: 5px 10px 18px #888888;
  border-radius: 5px;
}

.greetingHi p {
  /* font-weight: 700; */
  font-size: 24px;
  font-stretch: expanded;
  color: #52796F;
}

.name h1 {
  font-size: 80px;
  color: #52796F;
  margin-bottom: 0px;
}

.career h1 {
  font-size: 60px;
  color: #84A98C;
  margin-top: 0px;
}

.shortTalk p {
  width: 600px;
  margin-top: 30px;
  color: #52796F;
  /* font-weight: 700; */
  font-stretch: semi-expanded;
  font-size: 24px;
}
